.bar {
    height: 100%;
    background-color: #3b82f6;
    text-align: center;
    color: white;
}
.line {
    stroke: #3b82f6;
    stroke-width: 2;
    fill: none;
}
.pie {
    fill: #3b82f6;
}

.small-chart {
    width: 300px !important;
    height: 300px !important;
}
.card {
    background: rgb(190, 189, 189) !important;
    height: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;
}
.pie-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}