.input-style{
    height: 30px;
}
label {
    font-size: 1rem;
}
.label-row{
    border-bottom: 1px solid black;
}

.form-cont {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid black;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    outline: none; /* Remove o contorno padrão do navegador */
}

input:hover {
    border-color: black; /* Muda a borda ao passar o mouse */
}

input:focus {
    border-color: rgb(0, 140, 255); /* Muda a borda ao clicar */
    box-shadow: 0 0 5px rgba(6, 140, 255, 1.0); /* Adiciona uma sombra ao redor */
}