.form-control{
    border: 1px solid black !important;
}
.form-check-input{
    border: 1px solid black !important;
}

.line {
    border-top: 1px solid black;
}
.preco-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid black !important;
}
select {
    border: 1px solid black;
}
textarea {
    border: 1px solid black !important;
}

.form-cont{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid black !important;
}
.wrapper *, 
.wrapper *::after, 
.wrapper *::before {
    box-sizing: border-box;
}
